.pixelify {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.major-mono {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}